<p><strong>Chair:</strong><br>
Kimberly Goyette<br>
737 Gladfelter Hall<br>
<a href="tel:2152040134">(215) 204-0134</a><br>
<a href="mailto:kgoyette@temple.edu">kgoyette@temple.edu</a></p>
<hr>
<p><strong>Undegraduate Chair:</strong><br>
Michelle Byng<br>
761 Gladfelter Hall<br>
<a href="tel:2152047980">(215) 204-7980</a><br>
<a href="mailto:mbyng@temple.edu">mbyng@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047577">(215) 204-7577</a><br>
<a href="mailto:jessica.brennan@temple.edu">jessica.brennan@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
Pamela Smallwood<br>
713 Gladfelter Hall<br>
<a href="tel:2152047750">(215) 204-7750</a><br>
<a href="mailto:poppy@temple.edu">poppy@temple.edu</a></p>
<p>Catherine Staples<br>
713 Gladfelter Hall<br>
<a href="tel:2152041494">(215) 204-1494</a><br>
<a href="mailto:cstaples@temple.edu">cstaples@temple.edu</a></p>
