<h2>Emeritus Faculty</h2>
  
<p>Retired and emeriti professors maintain connections to the Sociology Department, but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Sociology Department.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/goldblatt-eli">Eli Goldblatt</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/logan-peter-m">Peter Logan</a></li>
   <li><strong>Joan Mellon</strong></li>
   <li><strong>Daniel O'Hara</strong></li>
</ul>
