<h2>Retired and Emeritus Faculty</h2>
  
<p>Retired and emeriti professors maintain connections to the Sociology Department, but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Sociology Department.</p>

<ul>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/condran-gretchen">Gretchen Condran</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/kaufman-robert">Robert L. Kaufman</a></li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/larson-magali-sarfatti">Magali Sarfatti Larson</a></li>
</ul>
